<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.psklab1.mybatis.model.StudentGroup" alias="StudentGroup"/>
        <typeAlias type="com.example.psklab1.mybatis.model.OptionalCourse" alias="OptionalCourse"/>
        <typeAlias type="com.example.psklab1.mybatis.model.Student" alias="Student"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="DemoDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/StudentGroupMapper.xml"/>
        <mapper resource="mybatis.xml/OptionalCourseMapper.xml"/>
        <mapper resource="mybatis.xml/StudentMapper.xml"/>
    </mappers>
</configuration>
