<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.psklab1.mybatis.model.Grupe" alias="Grupe"/>
        <typeAlias type="com.example.psklab1.mybatis.model.PasirenkamasKursas" alias="PasirenkamasKursas"/>
        <typeAlias type="com.example.psklab1.mybatis.model.Studentas" alias="Studentas"/>
        <typeAlias type="com.example.psklab1.mybatis.model.StudentasPasirenkamasKursas" alias="StudentasPasirenkamasKursas"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="DemoDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/GrupeMapper.xml"/>
        <mapper resource="mybatis.xml/PasirenkamasKursasMapper.xml"/>
        <mapper resource="mybatis.xml/StudentasMapper.xml"/>
        <mapper resource="mybatis.xml/StudentasPasirenkamasKursas.xml"/>
    </mappers>
</configuration>
