<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_2_0.xsd"
       bean-discovery-mode="annotated">
    <alternatives>
        <class>com.example.psklab1.Services.Alternative.TeacherGreetingService</class>
    </alternatives>

    <interceptors>
        <class>com.example.psklab1.interceptors.MethodLogger</class>
    </interceptors>

    <decorators>
        <class>com.example.psklab1.Services.Alternative.PoliteGreetingDecorator</class>
    </decorators>
</beans>